footer.footer
    .footer__inner.inner
        .footer__main
            a.footer__logo(href="")
                img(src="img/logo-gray.svg" alt="")
            .footer__links
                .footer__link
                    a.link-full(href="")
                    img(src="img/franchise.png" alt="")
                    .footer__link-txt
                        span Франшиза
                        p ElectroStreet
                .footer__link
                    a.link-full(href="")
                    img(src="img/localization.png" alt="")
                    .footer__link-txt
                        span Магазины
                        p ElectroStreet
        .footer__col._menu
            .footer__title ElectroStreet
            nav.footer__menu
                a(href="") О компании
                a(href="") Сервисный центр
                a(href="") Франшиза
                a(href="") Магазины
                a(href="") Сертификаты
                a(href="") Отзывы
                a(href="") Реквизиты
                a(href="") Вакансии
                a(href="") Контакты
        .footer__col._menu
            .footer__title Покупателю
            nav.footer__menu
                a(href="") Доставка и оплата
                a(href="") Гарантия и возврат
                a(href="") Рассрочка и кредит
                a(href="") Сезонное хранение
                a(href="") Юридическим лицам
                a(href="") Подарочные сертификаты
                a(href="") Частые вопросы
                a(href="") Обзоры
                a(href="") Блог
        .footer__col
            .footer__title._no-mob Контакты
            .footer__contacts
                .footer__contact
                    .footer__phones
                        a(href="tel:+74994440390") +7 (499) 444-03-90
                        a(href="tel:+79932484851") +7 (993) 248-48-51
                    a(href="mailto:info@electrostreet.ru") info@electrostreet.ru
                .social._3-el
                    a(href="")
                        img(src="img/tg.svg" alt="")
                    a(href="")
                        img(src="img/wa.svg" alt="")
                        span *
                    a(href="")
                        img(src="img/max.svg" alt="")
                    a(href="mailto:info@electrostreet.ru")
                        img(src="img/mail.svg" alt="")
                .footer__contact Нижний Новгород, #[br]ул. Выдуманная Длинная, д.25 А
                    small С 10:00 до 20:00 Без выходных
        .footer__col
            .footer__title Наши медиа
            .footer__contacts
                .social._gray
                    a(href="")
                        img(src="img/tg.svg" alt="")
                    a(href="")
                        img(src="img/yb.svg" alt="")
                    a(href="")
                        img(src="img/dzen.svg" alt="")
                    a(href="")
                        img(src="img/vk.svg" alt="")
                    a(href="")
                        img(src="img/tt.svg" alt="")
                    a(href="")
                        img(src="img/ig.svg" alt="")
                        span **
                    a._multicolor(href="")
                        img(src="img/rb.svg" alt="")
                    a._multicolor(href="")
                        img(src="img/vkv.svg" alt="")
                .footer__footnote
                    p * Является продуктом компании экстремистской компании Meta, деятельность которой запрещена на территории РФ
                    p ** Признана экстремистской и запрещена в России
footer.footer-bottom
    .footer-bottom__inner.inner
        .footer__info
            p © 2012 - 2025 ElectroStreet
            p Все права защищены
            p Не является публичной офертой
            a(href="") Политика конфиденциальности
        .footer__payment
            img(src="img/sbp.svg" alt="")
            img(src="img/mir.svg" alt="")
            img(src="img/tpay.svg" alt="")
            img(src="img/sber.svg" alt="")