section.inner
    .text-block._bg._alt.inner.pt-40.pb-60
        img(src="img/shop1.jpg" alt="")
        .news__infos
            .news__info
                i.icon.icon-eye
                span 86
            .news__info
                i.icon.icon-calendar2
                span 25.06.2025
        h2 Откройте для себя мир электровелосипедов с ElectroStreet.ru: Ваш путь к свободе и комфорту
        p Мечтаете о легких и увлекательных поездках без границ? Хотите забыть о пробках и при этом заботиться об окружающей среде? Тогда электровелосипед – это именно то, что вам нужно!
        p Electrostreet.ru предлагает широкий выбор электровелосипедов, сочетающих в себе передовые технологии, стильный дизайн и безупречный комфорт. Присоединяйтесь к нам и откройте для себя новый уровень мобильности и удовольствия от поездок.
        .text-block__gallery
            a(href="img/shop1.jpg" data-fancybox="gallery")
                img(src="img/shop1.jpg" alt="")
            a(href="img/shop2.jpg" data-fancybox="gallery")
                img(src="img/shop2.jpg" alt="")
            a(href="img/shop3.jpg" data-fancybox="gallery")
                img(src="img/shop3.jpg" alt="")
            a(href="img/shop1.jpg" data-fancybox="gallery")
                img(src="img/shop1.jpg" alt="")
            a(href="img/shop2.jpg" data-fancybox="gallery")
                img(src="img/shop2.jpg" alt="")
            a(href="img/shop3.jpg" data-fancybox="gallery")
                img(src="img/shop3.jpg" alt="")
        h3 Почему стоит выбрать электровелосипед?
        p Электровелосипед – это больше, чем просто транспорт. Это инвестиция в ваше здоровье, экономия времени и забота об экологии. Давайте рассмотрим его преимущества:
        ul
            li
                a(href="")
                    b Легкость передвижения:
                br
                | Забудьте об усталости! Электромотор сделает ваши поездки легкими и приятными, позволяя вам покорять любые расстояния и подъемы.
            li
                b Городские электровелосипеды
                br
                | Идеальное сочетание комфорта и практичности для повседневных поездок по городу.
        h3 Найдите свой идеальный электровелосипед
        p В electrostreet.ru вы найдете электровелосипеды на любой вкус и для любых целей:
        ul
            li Различные типы и мощность двигателей.
            li Современные аккумуляторы с большим запасом хода.
        h3 Заголовок 3
        table
            thead
                tr
                    th Заголовок
                    th Заголовок
                    th Заголовок
            tbody
                tr
                    td Значение
                    td Значение
                    td Значение
                tr
                    td Значение
                    td Значение
                    td Значение
                tr
                    td Значение
                    td Значение
                    td Значение
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda dolorem facere illum iure labore mollitia, nam perspiciatis placeat porro possimus quia soluta veritatis. Blanditiis esse mollitia nisi praesentium rem?
        ol
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
        blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda dolorem facere illum iure labore mollitia, nam perspiciatis placeat porro possimus quia soluta veritatis. Blanditiis esse mollitia nisi praesentium rem?
