+mobile()
  .brands-line
    display: none
    &._alt
      display: flex
      overflow-x: auto
      padding-left: var(--offset)
      padding-right: var(--offset)
      a
        min-width: max-content
      img
        max-height: 3rem
      &::-webkit-scrollbar-track
        width: 0
        height: 0
        background: transparent
      &::-webkit-scrollbar
        width: 0
        height: 0
        background: transparent
      &::-webkit-scrollbar-thumb
        width: 0
        height: 0
        background: transparent
    &__list
      width: fit-content
      padding: 0