+desktop()
  .main-slider
    .swiper-pagination
      padding: 0 3rem 2rem 3rem
    &__main
      padding: 3rem
      width: 30rem
    &__item
      &._alt
        .main-slider
          &__main
            padding: 3rem 3rem 5rem 3rem

+mobile()
  .main-slider
    margin-top: -3rem
    margin-bottom: -6rem
    border-radius: 0
    img
      height: calc(100vh - 5rem)
    .swiper-pagination
      width: 100%
      justify-content: center
      padding: 2rem
    &__item
      &._mob-color-w
        .main-slider
          &__main
            color: white
      &._mob-color-b
        .main-slider
          &__main
            color: black
      &._alt
        .main-slider
          &__main
            width: 100%
    &__main
      width: 100%
      background: none
      backdrop-filter: none
      text-align: center
      justify-items: center
      grid-auto-rows: auto 1fr auto
      padding: 2rem var(--offset) 5rem var(--offset)
      .h0
        font-size: 2.6rem
      p
        font-size: 14px