//.icon
//  display: inline-flex
//
//[class^="icon-"], [class*=" icon-"]
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'icomoon' !important
//  speak: none
//  font-style: normal
//  font-weight: normal
//  font-variant: normal
//  text-transform: none
//  line-height: 1
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased
//  -moz-osx-font-smoothing: grayscale
.icon
  &._reverse
    transform: rotate(180deg)

.icon-sort:before
  content: "\e96b"

.icon-calendar2:before
  content: "\e968"

.icon-eye:before
  content: "\e969"

.icon-long-arrow:before
  content: "\e96a"

.icon-plus2:before
  content: "\e962"

.icon-email2:before
  content: "\e963"

.icon-call:before
  content: "\e964"

.icon-whatsapp-fill:before
  content: "\e965"

.icon-yb:before
  content: "\e966"

.icon-mini-down:before
  content: "\e967"

.icon-max:before
  content: "\e96c"
  
.icon-y-group
  &:before
    content: "\e96d"
    color: var(--color02)
  &:after
    content: "\e96e"
    margin-left: -1em
    color: rgb(51, 51, 51)

.icon-y-support
  &:before
    content: "\e96f"
    color: var(--color02)
  &:after
    content: "\e970"
    margin-left: -1.0498046875em
    color: rgb(51, 51, 51)

.icon-y-invoice
  &:before
    content: "\e971"
    color: var(--color02)
  &:after
    content: "\e972"
    margin-left: -1em
    color: rgb(51, 51, 51)

.icon-y-loacation
  &:before
    content: "\e973"
    color: var(--color02)
  &:after
    content: "\e974"
    margin-left: -1.025390625em
    color: rgb(51, 51, 51)

.icon-y-settings
  &:before
    content: "\e975"
    color: var(--color02)
  &:after
    content: "\e976"
    margin-left: -1em
    color: rgb(51, 51, 51)

.icon-y-box
  &:before
    content: "\e975"
    color: var(--color02)
  &:after
    content: "\e979"
    margin-left: -1em
    color: rgb(51, 51, 51)

.icon-trash:before
  content: "\e977"
  
.icon-repair3
  &:before
    content: "\e97a"
    color: rgb(55, 86, 166)
  &:after
    content: "\e97b"
    margin-left: -1.27734375em
    color: rgb(15, 38, 96)

.icon-franchise
  &:before
    content: "\e97c"
    color: rgb(55, 86, 166)
  &:after
    content: "\e97d"
    margin-left: -1em
    color: rgb(15, 38, 96)

.icon-time2:before
  content: "\e97e"

.icon-pin:before 
  content: "\e97f"

.icon-repair2:before
  content: "\e980"

.icon-y-repair
  &:before
    content: "\e981"
    color: var(--color02)
  &:after
    content: "\e982"
    margin-left: -1.025390625em
    color: rgb(51, 51, 51)

.icon-y-map
  &:before
    content: "\e983"
    color: var(--color02)
  &:after
    content: "\e984"
    margin-left: -1.1748046875em
    color: rgb(51, 51, 51)

.icon-y-search
  &:before
    content: "\e985"
    color: var(--color02)
  &:after
    content: "\e986"
    margin-left: -0.9501953125em
    color: rgb(51, 51, 51)
    
.icon-play2:before 
  content: "\e987"

.icon-download:before 
  content: "\e988"

.icon-info-circle:before 
  content: "\e989"

.icon-shield-tick:before 
  content: "\e98a"

.icon-label:before 
  content: "\e98b"

