+notebook()
  .page-nav
    justify-content: flex-start
    overflow-x: auto
    max-width: 100vw
    max-width: 100dvw
    margin: 0 -15px
    &::-webkit-scrollbar-track
      width: 0
      height: 0
      background: transparent
    &::-webkit-scrollbar
      width: 0
      height: 0
      background: transparent
    &::-webkit-scrollbar-thumb
      width: 0
      height: 0
      background: transparent
    &__item
      &:first-child
        padding-left: 15px
      &:last-child
        padding-right: 15px