.page-nav
  +flex(row nowrap, flex-end, center)
  gap: 5px
  width: fit-content
  white-space: nowrap
  max-width: 100%
  min-width: 0
  &__item
    +flex(row nowrap, flex-start, center)
    gap: 5px
    color: var(--color1)
    &:last-child
      pointer-events: none
      color: inherit
      &:after
        content: none
    &:after
      content: "/"
      color: var(--color12)

@import "media"
