.input-alt
  background: rgba(255, 255, 255, 0.7)
  border: 1px solid white
  border-radius: 6px
  height: 4.5rem
  padding: 0 2rem

textarea.input-alt
  min-height: 10rem
  padding-top: 15px
  resize: none