section.cart.pb-60
    .cart__list._products
        .cart__block
            .product-cart
                img(src="img/product1.jpg" alt="")
                .product-cart__main
                    .product-cart__header
                        p Электровелосипед Coswheel CT20s 48V 35AH
                        a.product-cart__remove(href="")
                            i.icon.icon-trash
                    .product-cart__price
                        .product-cart__count
                            .quantity
                                .quantity__btn._minus —
                                input(type="number" value="1")
                                .quantity__btn._plus +
                            small 199 000 ₽/шт.
                        .price._right
                            s 305 000 ₽
                            span 1 389 000 ₽
            .product-services
                label.checkbox._gray._start
                    input.checkbox__input(type="checkbox")
                    span.checkbox__mask
                    span.checkbox__label Предпродажная подготовка
                    span.checkbox__price 6 000 ₽
                label.checkbox._gray._start
                    input.checkbox__input(type="checkbox")
                    span.checkbox__mask
                    span.checkbox__label Гидроизоляция
                    span.checkbox__price 12 000 ₽
                label.checkbox._gray._start
                    input.checkbox__input(type="checkbox")
                    span.checkbox__mask
                    span.checkbox__label Предпродажная подготовка + гидроизоляция
                    span.checkbox__price 15 000 ₽
            .total
                .total__main
                    p Стоимость комплекта:
                    .price 425 000 ₽
        .cart__block
            .product-cart
                img(src="img/product1.jpg" alt="")
                .product-cart__main
                    .product-cart__header
                        p Электровелосипед Coswheel CT20s 48V 35AH
                        a.product-cart__remove(href="")
                            i.icon.icon-trash
                    .product-cart__price
                        .product-cart__count
                            .quantity
                                .quantity__btn._minus —
                                input(type="number" value="1")
                                .quantity__btn._plus +
                            small
                        .price 389 000 ₽
    .cart__title
        h1.h1 Оформление заказа
    .cart__list
        .cart__block
            .h2 Данные покупателя
            input.input-alt._gray(type="text" placeholder="Имя")
            .form-bg__row
                input.input-alt._gray(type="tel" placeholder="Телефон *")
                input.input-alt._gray(type="email" placeholder="Email *")
            textarea.input-alt._gray(placeholder="Сообщение")
        .cart__block
            .h2 Доставка и оплата
            .select._clear._gray
                .select__main
                    .select__value
                        .select__placeholder Способ оплаты
                    input.select__input(type="checkbox")
                .select__options
                    .select__option(data-value="payment1") Способ оплаты 1
                    .select__option(data-value="payment2") Способ оплаты 2
                    .select__option(data-value="payment3") Способ оплаты 3
            .select._clear._gray
                .select__main
                    .select__value
                        .select__placeholder Способ доставки
                    input.select__input(type="checkbox")
                .select__options
                    .select__option(data-value="delivery1") Способ доставки 1
                    .select__option(data-value="delivery2") Способ доставки 2
                    .select__option(data-value="delivery3") Способ доставки 3
            input.input-alt._gray(type="text" placeholder="Адрес")
    .cart__total
        .cart__block
            .h2 Итого
        .cart__block
            .price-rows
                .price-row._main
                    .price-row__label Электровелосипед Coswheel CT20s 48V 35AH
                    .price-row__value
                        span 28 000 ₽
                        small 2 x 199 000 ₽
                .price-row
                    .price-row__label Предпродажная подготовка
                    .price-row__value 28 000 ₽
                .price-row
                    .price-row__label Гидроизоляция
                    .price-row__value 6 000 ₽
                .price-row
                    .price-row__label Предпродажная подготовка + гидроизоляция
                    .price-row__value 12 000 ₽
        .cart__block
            .price-rows
                .price-row
                    .price-row__label Доставка курьером
                    .price-row__value 2 500 ₽
                .price-row
                    .price-row__label Скидка
                    .price-row__value.green - 6 000 ₽
        .cart__block
            .total
                small Оплата наличными
                .total__main
                    p Итого:
                    .price 1 256 000 ₽
            a.btn._fill._big._full(href="") Оформить заказ
            label.checkbox._start.consent._gray
                input.checkbox__input(type="checkbox")
                span.checkbox__mask
                span.checkbox__label Lorem ipsum dolor sit amet, #[a.link-line(href="") consectetur adipisicing] elit. Cumque delectus esse et expedita illo inventore ipsam magnam nihil similique vero!