.page-header.inner.pb-30.pt-30
    .page-header__title
        h1.h1 Корзина
    .page-nav
        .page-nav__item
            a(href="") Главная
        .page-nav__item
            a(href="") Оформление заказа
