extends ../layout/layout
block title
    | index
block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer="")
block content
    .cart-page.bg
        .inner
            include _header
            include _cart
block end

