section.inner.pt-40.pb-60
    .page-header.mb-20
        h2.h1 Видеообзоры
    include _filter
    .video-list
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
        .video-news
            a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos" data-caption="Короткое содержательное название видеообзора")
            .video-news__img
                img(src="img/shop1.jpg" alt="")
            b Короткое содержательное название видеообзора
    .catalog__nav.mt-30
        a.btn._mini(href="") Показать еще ...
        .pagination-alt
            a(href="")
                i.icon.icon-arrow._reverse
            a(href="")
                i.icon.icon-double-arrow._reverse
            a(href="") 1
            a._simple(href="") ...
            a(href="") 8
            a._active(href="") 9
            a(href="") 10
            a._simple(href="") ...
            a(href="") 89
            a(href="")
                i.icon.icon-arrow
            a(href="")
                i.icon.icon-double-arrow
        small Показано 36 из 268 статей
