section.callback
    picture
        source(srcset="img/bg_mob.png" media="(max-width: 530px)")
        img.callback__bg(src="img/bg.png" alt="")
    .callback__inner.inner
        picture
            source(srcset="img/manager_mob.png" media="(max-width: 530px)")
            img.callback__img(src="img/manager.png" alt="")
        .callback__main
            .callback__block
                h2.h1 Поможем подобрать #[br]модель за 2 минуты
                small Мы на связи #[br]с 10:00 до 20:00 ежедневно
                .callback__text Не знаете, с чего начать? #[br]Подскажем, какая модель подойдёт именно вам — быстро и по делу.
                .callback__btns
                    a.btn._fill._big(href="") Получить консультацию
                    .callback__social
                        a(href="")
                            i.icon.icon-telegram
                        a(href="")
                            i.icon.icon-whatsapp-fill
                        a(href="")
                            i.icon.icon-call
                        a(href="")
                            i.icon.icon-email2