.product-list
    .product
        .product__main
            .product__slider.swiper-parent
                .product__info
                    .label._green NEW
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 300 куб.см
                    .param__label Объем двигателя
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .product
        .product__main
            .product__slider.swiper-parent
                a.product__yb(href="")
                    i.icon.icon-yb
                .product__info
                    .label._red - 12 568 ₽
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .product
        .product__main
            .product__slider.swiper-parent
                .product__info
                    .label._yellow hit
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox" checked="")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox" checked="")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .manager
        img(src="img/manager2.png" alt="")
        .manager__header
            b Задайте вопрос эксперту
            small Мы на связи с 10:00 до 20:00 ежедневно
        .manager__social
            a(href="")
                i.icon.icon-telegram
            a(href="")
                i.icon.icon-whatsapp-fill
            a(href="")
                i.icon.icon-call
            a(href="")
                i.icon.icon-email2
    .product
        .product__main
            .product__slider.swiper-parent
                .product__info
                    .label._green NEW
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .product
        .product__main
            .product__slider.swiper-parent
                a.product__yb(href="")
                    i.icon.icon-yb
                .product__info
                    .label._red - 12 568 ₽
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .product
        .product__main
            .product__slider.swiper-parent
                .product__info
                    .label._yellow hit
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox" checked="")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox" checked="")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину
    .product
        .product__main
            .product__slider.swiper-parent
                .product__info
                    .rate
                        i.icon.icon-star
                        span 4.8
                .swiper._single
                    .swiper-wrapper
                        .swiper-slide
                            a(href="")
                                img(src="img/product1.jpg" alt="")
                        .swiper-slide
                            a(href="")
                                img(src="img/product2.jpg" alt="")
                    .swiper-pagination
            .params
                .param
                    .param__value 50 км/ч
                    .param__label Скорость
                .param
                    .param__value 90 км
                    .param__label Запас хода
                .param
                    .param__value 1500 W
                    .param__label Мощность
                .param
                    .param__value 20"
                    .param__label Диаметр
                .param
                    .param__value 46 кг
                    .param__label Вес
        a(href="")
            b Электровелосипед Coswheel CT20s 48V 35AH
        .product__price
            .price
                s 255 000 ₽
                span 199 000 ₽
            .product__btns
                .product__links
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-scale
                    label.add-icon
                        input.add-icon__input(type="checkbox")
                        i.icon.icon-heart-empty
                a.btn(href="") В корзину