.inner.swiper-parent
    .page-header.mb-20
        h2.h1 Часто задаваемые вопросы
    .acrdns
        .acrdns__col
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Какие типы электровелосипедов вы предлагаете?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p В Electrostreet.ru вы найдете широкий выбор электровелосипедов: городские, горные, складные, грузовые и другие.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Как рассчитывается дальность хода электровелосипеда?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Дальность хода зависит от емкости аккумулятора, мощности двигателя, веса райдера и рельефа местности. В описании каждой модели указан примерный запас хода.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Как долго заряжается аккумулятор электровелосипеда?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Время зарядки аккумулятора обычно составляет от 3 до 8 часов в зависимости от его емкости и типа зарядного устройства.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Какова максимальная скорость электровелосипеда?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Максимальная скорость электровелосипеда в соответствии с законодательством составляет 25 км/ч при использовании ассистента педалирования, но некоторые модели могут развивать более высокую скорость.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Нужны ли водительские права для управления электровелосипедом?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p В большинстве случаев, если мощность двигателя не превышает 250 Вт и скорость не более 25 км/ч, водительские права не требуются.
        .acrdns__col
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Можно ли ездить на электровелосипеде в дождь?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Да, большинство современных электровелосипедов имеют защиту от влаги, но рекомендуется избегать глубоких луж и сильного ливня.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Как ухаживать за аккумулятором электровелосипеда?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Для продления срока службы аккумулятора рекомендуется заряжать его после каждой поездки, не допускать полного разряда и хранить в сухом, прохладном месте.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Есть ли у вас гарантия на электровелосипеды?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Да, на все электровелосипеды, приобретенные в нашем магазине, распространяется гарантия от производителя. Срок гарантии указывается в описании каждой модели.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Могу ли я протестировать электровелосипед перед покупкой?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Да, мы предоставляем возможность проведения тест-драйва, чтобы вы могли лично оценить все преимущества электровелосипедов.
            .acrdn(data-accordion='item')
                .acrdn__btn(data-accordion='header') Какие способы оплаты вы принимаете?
                .acrdn__drop(data-accordion='dropdown')
                    .text
                        p Мы принимаем оплату банковскими картами, наличными и предоставляем возможность покупки в рассрочку или кредит.