.filter-alt
    input.filter-alt__toggle#filter-alt-toggle(type="checkbox")
    .filter-alt__main
        .filter-alt__header
            .h2 Фильтр
            label.filter-alt__close(for="filter-alt-toggle")
                i.icon.icon-close
        .select._alt._filled
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 2 522 - 15 025
                .select__value Цена
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='0' data-max='100000' data-step='100')
        .select._alt._filled
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 9
                .select__value Производитель
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Производитель 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Производитель 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Производитель 3
                //a.btn._mini(href="")
                //    span Показать
                //    small (30)
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Аккумулятор, V
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Емкость аккумулятора, Аh
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Скорость до, км/ч
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Запас хода до, км
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Мощность двигателя, Вт
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        .select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Диаметр колёс, дюйм
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')

        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Время зарядки, ч
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Амортизация
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Амортизация 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Амортизация 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Амортизация 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Привод
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Привод 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Привод 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Привод 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Максимальная нагрузка до, кг
                input.select__input(type="checkbox")
            .select__options
                .range-double
                    .input-interval
                        input.input._border._mini._range1(type='number')
                        .input-interval__separator —
                        input.input._border._mini._range2(type='number')
                    input.input-range(type='text' data-min='159' data-max='368' data-step='1')
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Материал рамы
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Материал рамы 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Материал рамы 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Материал рамы 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Тип колес
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тип колес 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тип колес 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тип колес 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Быстросъемная батарея
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Да
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Нет
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Сиденье
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Сиденье 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Сиденье 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Сиденье 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Тормоза
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тормоза 1
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тормоза 2
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Тормоза 3
        //.select._alt
            .select__main
                a.filter-alt__clear(href="")
                    i.icon.icon-close
                .filter-alt__num 0
                .select__value Складной
                input.select__input(type="checkbox")
            .select__options
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Да
                label.checkbox
                    input.checkbox__input(type="checkbox" checked="")
                    span.checkbox__mask
                    span.checkbox__label Нет
        a.filter-alt__clear-all.link-line(href="") Очистить все
        //a.filter-alt__more.link-line(href="")
        .filter-alt__submit
            a.btn._mini._full(href="")
                span Показать
                small (460)
    label.filter-alt__btn(for="filter-alt-toggle")
        i.icon.icon-filter
    .filter-alt__sort
        label.checkbox._alt
            input.checkbox__input(type="checkbox" checked="")
            span.checkbox__mask
            span.checkbox__label В наличии
        .select._alt
            .select__main
                i.icon.icon-sort
                .select__value Сортировка
                input.select__input(type="checkbox")
            .select__options
                .select__option(data-value="популярные") Сначала популярные
                .select__option(data-value="дешевле") Сначала дешевле
                .select__option(data-value="дороже") Сначала дороже
                .select__option(data-value="новинки") Сначала новинки