.page-header
    .page-header__title
        h1.h1 Электровелосипеды
        small (289 товаров)
    .page-nav
        .page-nav__item
            a(href="") Главная
        .page-nav__item
            a(href="") Электротранспорт
        .page-nav__item
            a(href="") Электровелосипеды