section.inner.swiper-parent
    .page-header.mb-20
        h2.h1 Блог
        .page-header__links
            a.link-line(href="") Все статьи
            .swiper-button-prev
            .swiper-button-next
    .swiper._2-col.news-slider
        .swiper-wrapper
            .swiper-slide
                .news
                    a.link-full()
                    img(src="img/shop1.jpg" alt="")
                    .news__main
                        b Короткое содержательное название статьи
                        .news__infos
                            .news__info
                                i.icon.icon-eye
                                span 86
                            .news__info
                                i.icon.icon-calendar2
                                span 25.06.2025
                        .news__text
                            p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                        a.link-arrow(href="")
                            span Читать полностью
                            i.icon.icon-long-arrow
            .swiper-slide
                .news
                    a.link-full()
                    img(src="img/shop2.jpg" alt="")
                    .news__main
                        b Короткое содержательное название статьи
                        .news__infos
                            .news__info
                                i.icon.icon-eye
                                span 86
                            .news__info
                                i.icon.icon-calendar2
                                span 25.06.2025
                        .news__text
                            p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                        a.link-arrow(href="")
                            span Читать полностью
                            i.icon.icon-long-arrow
            .swiper-slide
                .news
                    a.link-full()
                    img(src="img/shop3.jpg" alt="")
                    .news__main
                        b Короткое содержательное название статьи
                        .news__infos
                            .news__info
                                i.icon.icon-eye
                                span 86
                            .news__info
                                i.icon.icon-calendar2
                                span 25.06.2025
                        .news__text
                            p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                        a.link-arrow(href="")
                            span Читать полностью
                            i.icon.icon-long-arrow
    .swiper-pagination._static._mob