.catalog__nav
    a.btn._mini._fill(href="") Показать еще ...
    .pagination-alt
        a(href="")
            i.icon.icon-arrow._reverse
        a(href="")
            i.icon.icon-double-arrow._reverse
        a(href="") 1
        a._simple(href="") ...
        a(href="") 8
        a._active(href="") 9
        a(href="") 10
        a._simple(href="") ...
        a(href="") 89
        a(href="")
            i.icon.icon-arrow
        a(href="")
            i.icon.icon-double-arrow
    small Показано 36 из 268 товаров
