.inner
    .tags
        a(href="") 1000W
        a(href="") Велоприцепы
        a(href="") Для взрослых
        a(href="") Грузовые
        a(href="") Фэтбайки
        a(href="") С корзиной и багажником
        a(href="") GreenCame
