section.text-block._alt.inner
    h2 Откройте для себя мир электровелосипедов с ElectroStreet.ru: Ваш путь к свободе и комфорту
    p Мечтаете о легких и увлекательных поездках без границ? Хотите забыть о пробках и при этом заботиться об окружающей среде? Тогда электровелосипед – это именно то, что вам нужно!
    p Electrostreet.ru предлагает широкий выбор электровелосипедов, сочетающих в себе передовые технологии, стильный дизайн и безупречный комфорт. Присоединяйтесь к нам и откройте для себя новый уровень мобильности и удовольствия от поездок.
    h3 Почему стоит выбрать электровелосипед?
    p Электровелосипед – это больше, чем просто транспорт. Это инвестиция в ваше здоровье, экономия времени и забота об экологии. Давайте рассмотрим его преимущества:
    ul
        li
            a(href="")
                b Легкость передвижения:
            br
            | Забудьте об усталости! Электромотор сделает ваши поездки легкими и приятными, позволяя вам покорять любые расстояния и подъемы.
        li
            b Городские электровелосипеды
            br
            | Идеальное сочетание комфорта и практичности для повседневных поездок по городу.
    h3 Найдите свой идеальный электровелосипед
    p В electrostreet.ru вы найдете электровелосипеды на любой вкус и для любых целей:
    ul
        li Различные типы и мощность двигателей.
        li Современные аккумуляторы с большим запасом хода.

