section.inner.swiper-parent
    .page-header._no-wrap.mb-20
        h2.h1 Видеообзоры
        .page-header__links
            a.link-line(href="") Все видеообзоры
            .swiper-button-prev
            .swiper-button-next
    .swiper._3-col
        .swiper-wrapper
            .swiper-slide
                .video-news
                    a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos")
                    .video-news__img
                        img(src="img/shop1.jpg" alt="")
                    b Короткое содержательное название видеообзора
            .swiper-slide
                .video-news
                    a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos")
                    .video-news__img
                        img(src="img/shop2.jpg" alt="")
                    b Короткое содержательное название видеообзора
            .swiper-slide
                .video-news
                    a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos")
                    .video-news__img
                        img(src="img/shop3.jpg" alt="")
                    b Короткое содержательное название видеообзора
            .swiper-slide
                .video-news
                    a.link-full(href="https://youtu.be/lyh2kAjcmSY?si=L9tyFI5HyDlI4Kfm" data-fancybox="videos")
                    .video-news__img
                        img(src="img/shop1.jpg" alt="")
                    b Короткое содержательное название видеообзора
    .swiper-pagination._static._mob
