section.inner#advants
    .page-header.mb-20
        h2.h1 ElectroStreet в деталях
    .swiper-parent.advants-slider
        .swiper._mob
            .swiper-wrapper
                .advant.swiper-slide
                    i.icon.icon-y-map
                    .h2 8 филиалов в крупных городах
                    p.light Москва, Екатеринбург, Краснодар, Н. Новгород, Новосибирск, Самара, Пермь, Челябинск
                .advant.swiper-slide
                    i.icon.icon-y-search
                    .h2 1000+ моделей в каталоге
                    p.light Электросамокаты, велосипеды, #[br]скутеры, мотоциклы и спецтранспорт
                .advant.swiper-slide
                    i.icon.icon-y-settings
                    .h2 Официальная гарантия до 2 лет
                    p.light Только сертифицированная техника #[br]от проверенных производителей
                .advant.swiper-slide
                    i.icon.icon-y-box
                    .h2 Доставка по всей России
                    p.light Отправляем транспорт в любой регион, #[br]самовывоз доступен в филиалах
                .advant.swiper-slide
                    i.icon.icon-y-invoice
                    .h2 Возможность рассрочки и кредита
                    p.light Гибкие условия оплаты #[br]для частных клиентов и юрлиц
                .advant.swiper-slide
                    i.icon.icon-y-repair
                    .h2 Собственные сервисные центры
                    p.light Профессиональный ремонт и #[br]обслуживание с оригинальными запчастями
        .swiper-pagination._static