section.inner.categories
    .category._main
        .category__img
            img(src="img/product7.png" alt="")
        a.h1(href="") Электровелосипеды
        .tags._alt
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product2.png" alt="")
        a.h2(href="") Электросамокаты
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product8.png" alt="")
        a.h2(href="") Электромотоциклы
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product4.png" alt="")
        a.h2(href="") Электроквадроциклы
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product1.png" alt="")
        a.h2(href="") Электроскутеры
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product3.png" alt="")
        a.h2(href="") Электротрициклы
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие
    .category
        .category__img
            img(src="img/product5.png" alt="")
        a.h2(href="") Электроснегокаты
        .tags
            a(href="") Взрослые
            a(href="") Детские
            a(href="") Мощные
            a(href="") Прогулочные
            a(href="") Такие
            a(href="") Сякие
            a(href="") Пятые
            a(href="") Десятые
            a(href="") Всякие