section.contacts-alt
    iframe(src="https://yandex.ru/map-widget/v1/?ll=37.630538%2C55.733111&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzAwMDA5NBIa0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAiCg2GeBZCFQEGX0I%2C&z=11.21&scroll=false" width="100%" height="270" frameborder="1" allowfullscreen="true")
    .contacts-alt__inner.inner
        .contacts-alt__main
            h2.h1 Шоурум в Нижнем Новгороде
            p ElectroStreet — федеральная сеть магазинов электротранспорта. В нашем каталоге представлены электросамокаты, велосипеды, скутеры, мотоциклы и другая техника от ведущих производителей. Мы предлагаем только сертифицированные модели с официальной гарантией и обеспечиваем сервисное сопровождение. Покупая у нас, вы получаете надёжный транспорт и поддержку экспертов.
            .swiper-parent
                .contacts-alt__slider
                    .swiper._single
                        .swiper-wrapper
                            .swiper-slide(data-fancybox="contacts" href="img/shop1.jpg")
                                img(src="img/shop1.jpg" alt="")
                            .swiper-slide(data-fancybox="contacts" href="img/shop2.jpg")
                                img(src="img/shop2.jpg" alt="")
                            .swiper-slide(data-fancybox="contacts" href="img/shop3.jpg")
                                img(src="img/shop3.jpg" alt="")
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-pagination._static
            .contacts-alt__list
                .contact
                    i.icon.icon-pin
                    p ул.Белинского, д.152, к.1
                .contact
                    i.icon.icon-time2
                    p 10-00 до 20-00. Без выходных
                .social._auto._left
                    a(href="")
                        img(src="img/tg.svg" alt="")
                    a(href="")
                        img(src="img/wa.svg" alt="")
                        span *
                    a(href="")
                        img(src="img/max.svg" alt="")
                    a(href="")
                        img(src="img/call2.svg" alt="")
