section.inner.franchise
    .franchise__main
        h2.h1 Франшиза
        .text
            p Хотите открыть свой бизнес и зарабатывать на востребованном рынке?
            p С франшизой ElectroStreet это просто:
            ul
                li мы поможем с запуском магазина или сервиса
                li научим команду
                li обеспечим поставки техники и
                li дадим готовые решения для продвижения
            p Присоединяйтесь к сети, которая делает электротранспорт доступным в десятках городов России.
        a.link-arrow._big(href="") Узнать подробнее
            i.icon.icon-long-arrow
    img(src="img/ill-partners.svg" alt="")