section.inner.main-screen
    .swiper-parent.main-slider
        .swiper._single
            .swiper-wrapper
                .swiper-slide.main-slider__item
                    picture
                        source(srcset="img/banner_mob.png" media="(max-width: 530px)")
                        img(src="img/banner.png" alt="")
                    .main-slider__main
                        .h0 Надпись на баннере
                        p Сеть официальных велосипедных мастерских компании «ВелоСтрана», где вы можете недорого произвести ремонт велосипеда.
                        a.btn._fill._big(href="") Перейти в каталог
                .swiper-slide.main-slider__item
                    picture
                        source(srcset="img/banner_mob.png" media="(max-width: 530px)")
                        img(src="img/banner.png" alt="")
                    .main-slider__main
                        .h0 Надпись на баннере
                        p Сеть официальных велосипедных мастерских компании «ВелоСтрана», где вы можете недорого произвести ремонт велосипеда.
                        a.btn._fill._big(href="") Перейти в каталог
        .swiper-pagination
    .grid.gap-20
        .mini-banner
            .mini-banner__header
                .h1 Станьте нашим партнёром
                i.icon.icon-franchise
            p Откройте магазин ElectroStreet в своём городе и присоединяйтесь к команде, которая развивает рынок электротранспорта
        .mini-banner
            .mini-banner__header
                .h1 Отремонтируем ваш транспорт
                i.icon.icon-repair
            p Наши эксперты вернут в строй электросамокат, велосипед или скутер — быстро, надёжно и по разумной цене