section.inner
    .service
        .service__main
            h2.h1 Сервисный центр
            p Официальный сервис ElectroStreet — это надёжность, скорость и уверенность в результате.  Тысячи клиентов уже доверили нам обслуживание своей техники — доверьтесь и вы!
            img(src="img/ill-settings.svg" alt="")
        .service__bg
            picture
                source(srcset="img/service-bg_mob.png" media="(max-width: 767px)")
                img(src="img/service-bg.jpg" alt="")
            .service__advantes
                .mini-advants
                    i.icon.icon-repair2
                    .h2 ремонт любой сложности
                .mini-advants
                    i.icon.icon-repair2
                    .h2 оригинальные запчасти
                .mini-advants
                    i.icon.icon-repair2
                    .h2 гарантия на выполненные работы
