extends ../layout/layout
block title
    | index
block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer="")
    script(src="js/_ion.rangeSlider.min.js" defer="")
block content
    .index-page.bg.grid.gap-60.pt-30
        include _main-screen
        include _picker
        include _categories
        include _products
        include _brands
        include _advants
        include _service
        include _contacts
        include _news
        include _franchise
block end

