extends ../layout/layout
block title
    | index
block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer="")
block content
    .index-page.bg.grid.gap-60.pb-60.pt-30
        include _main-screen
block end

