+small-mobile()
  .product-cart
    grid-template-columns: initial
    img
      display: none
    &__count
      display: grid
      justify-items: center
    &__price
      align-items: flex-start
      .price
        min-height: 4rem
        align-items: center