.h0
  font-size: 4rem
.h1
  font-size: 2.6rem
.h2
  font-size: 2rem
.h3
  font-size: 18px
  font-weight: 400

.light
  font-weight: 300
  line-height: 1.4
  font-size: 16px

.txt-center
  text-align: center

.grid
  & > *
    min-width: 0

.flex
  +flex(row nowrap, flex-start, center)

.green
  color: #22C584
.gray
  color: #777777

.mb-20
  margin-bottom: 2rem
.mb-30
  margin-bottom: 3rem
.mt-30
  margin-top: 3rem
.pb-30
  padding-bottom: 3rem
.pt-30
  padding-top: 3rem
.pt-40
  padding-top: 4rem
.pb-60
  padding-bottom: 6rem

.bg
  background: #f2f2f2

.consent
  font-size: 12px
  font-weight: 300
  color: #9C9C9C

.anchorlink
  &._active
    color: var(--color11)

.link-line
  color: var(--color1)
  text-decoration: underline
  text-decoration-skip-ink: none
  text-decoration-thickness: 1px
  text-underline-offset: 2px

.link-icon
  +flex(row nowrap, flex-start, center)
  gap: 10px
  b
    font-weight: 400
  i.icon
    font-size: 2rem
    color: var(--color1)
  span
    border-bottom: 1px dashed
    color: var(--color1)

.link-info
  font-size: 16px
  color: #CACACA

.link-arrow
  +flex(row nowrap, flex-start, center)
  gap: 10px
  i.icon
    font-size: 9px
    color: var(--color1)
  &._big
    color: var(--color1)
    font-size: 18px
    font-weight: 300

.text
  line-height: 1.4
  font-weight: 300
  font-size: 18px
  display: grid
  gap: 10px
  align-content: start
  h3
    font-weight: 400
    margin-top: 10px
    &:first-child
      margin-top: 0
  b
    font-weight: 400
  *
    margin: 0
  ul, ol
    display: grid
    gap: 5px
    padding-left: 1em
  li
    &::marker
      color: var(--color1)

.fz-14
  font-size: 14px
.fz-16
  font-size: 16px
.fz-18
  font-size: 18px

.gap-10
  gap: 10px
.gap-15
  gap: 15px
.gap-20
  gap: 2rem
.gap-30
  gap: 3rem
.gap-60
  gap: 6rem

.text-block
  &._bg
    background: white
    blockquote, th, td
      background: var(--color4)
  table
    width: 100%
    border-spacing: 2px
  th, td
    padding: 10px
    background: white
    text-align: left
  th
    font-weight: 500
  blockquote
    padding: 3rem
    background: white
    line-height: 1.8
    position: relative
    &:before
      content: "“"
      left: 2rem
      top: -15px
      color: var(--color1)
      font-size: 20rem
      position: absolute
      line-height: 1
      opacity: 0.2
      font-family: initial
  &._alt
    display: grid
    gap: 2rem
    font-size: 16px
    line-height: 1.4
    a
      color: var(--color1)
      text-decoration: underline
      text-decoration-skip-ink: none
      text-decoration-thickness: 1px
    *
      margin: 0
    ul, ol
      gap: 10px
      padding-left: 2rem
    ul
      li
        &::marker
          font-size: 2rem
          line-height: 1
    h2
      font-size: 2.6rem
      font-weight: 400
      margin-bottom: 10px
    h3
      font-size: 2rem
      font-weight: 400
      margin-top: 10px
      &:first-child
        margin-top: 0
  &__gallery
    +grid(25rem, 1fr, 15px, 15px)

.anchor
  position: absolute
  left: 0
  top: -13rem

@import "media"