section.inner.advants
    .advant
        i.icon.icon-y-box
        .h2 Оптовые условия
        p.light Cпецпрайсы на объёмные закупки, #[br]фиксация цены на партию
    .advant
        i.icon.icon-y-settings
        .h2 Гарантия и сервис
        p.light Собственный сервисный центр, #[br]запас запчастей, постгарантийная поддержка
    .advant
        i.icon.icon-y-loacation
        .h2 Быстрая логистика
        p.light Доставка по всей России, #[br]сборка и подготовка техники «под ключ»
    .advant
        i.icon.icon-y-invoice
        .h2 Финансовая гибкость
        p.light Лизинг, рассрочка, #[br]оплата с НДС
    .advant
        i.icon.icon-y-support
        .h2 Персональный менеджер
        p.light Сопровождает от подбора #[br]до сервисного обслуживания
    .advant
        i.icon.icon-y-group
        .h2 Опыт с корпоративными парками
        p.light От курьерских служб #[br]до муниципальных проектов