section.form-banner
    .form-banner__bg
        img(src="img/callback-banner.png" alt="")
    .form-banner__inner.inner
        form.form-bg
            .form-bg__header
                h2.h2 Хотите узнать, как мы можем решить задачи вашего бизнеса?
                p.light.fz-18 Подготовим коммерческое предложение за 1 день
            .form-bg__inputs
                input.input-alt(type="text" placeholder="Имя")
                .form-bg__row
                    input.input-alt(type="tel" placeholder="Телефон *")
                    input.input-alt(type="email" placeholder="Email *")
                textarea.input-alt(placeholder="Сообщение")
            .form-bg__btns
                a.btn._big(href="")
                    b Отправить заявку
                .social._auto
                    a(href="")
                        img(src="img/tg.svg" alt="")
                    a(href="")
                        img(src="img/wa.svg" alt="")
                        span *
                    a(href="")
                        img(src="img/max.svg" alt="")
                //.callback__social
                    a(href="")
                        i.icon.icon-telegram
                    a(href="")
                        i.icon.icon-whatsapp-fill
                    a(href="")
                        i.icon.icon-call
                    a(href="")
                        i.icon.icon-email2
            .form-bg__consent
                label.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__mask
                    span.checkbox__label Lorem ipsum dolor sit amet, #[a.link(href="") consectetur adipisicing] elit. Cumque delectus esse et expedita illo inventore ipsam magnam nihil similique vero!
