.inner.pb-30.pt-30.grid.gap-15
    .page-header
        .page-header__title
            h1.h1 Преимущества работы с ElectroStreet для бизнеса
        .page-header__mob-img
            img(src="img/callback-banner.png" alt="")
        .page-nav
            .page-nav__item
                a(href="") Главная
            .page-nav__item
                a(href="") О компании
            .page-nav__item
                a(href="") Преимущества для юридических лиц
    .page-header__descr Мы помогаем компаниям быстро запускать и масштабировать парки электротранспорта — от первых тестовых моделей до сотен единиц. Всё — с гарантией, сервисом и удобным документооборотом.
