section.numbers
    .numbers__bg
        img(src="img/number-bg.png" alt="")
    .numbers__inner.inner
        h2.h0.txt-center ElectroStreet в цифрах
        .numbers__list
            .number
                .number__label #[span 13] лет
                .h2 компания на рынке
            .number
                .number__label #[span 9] городов
                .h2 с салонами продаж
            .number
                .number__label до #[span 20] %
                .h2 оптовые скидки
            .number
                .number__label #[span >24] часов
                .h2 доставка по городу