section.inner
    .page-header.mb-20
        h2.h1 Сервис и услуги
    .v-tabs(data-v-tabs)
        .v-tabs__list.h2
            a(href="") Закупка и цены
            a(href="") Логистика
            a._active(href="") Сервис
            a(href="") Документы
            a(href="") Ассортимент
            a(href="") Обучение
            a(href="") Надёжность
        .v-tabs__contents
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Закупка и цены
                    .text-block._alt
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Логистика
                    .text-block._alt
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")
            .v-tabs__content._active
                .v-tabs__main
                    .v-tabs__header.h2 Сервис
                    .text-block._alt
                        ul
                            li Оптовые скидки и спецпрайсы при объёмных закупках и фрейм-контрактах.
                            li Фиксация цен на партию/период по договорённости.
                            li Быстрый подбор аналогов при дефиците.
                            li Трейд-ин парка для снижения стоимости обновления.
                img(src="img/shop.png" alt="")
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Документы
                    .text-block._altx
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Ассортимент
                    .text-block._alt
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Обучение
                    .text-block._alt
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")
            .v-tabs__content
                .v-tabs__main
                    .v-tabs__header.h2 Надёжность
                    .text-block._alt
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at commodi debitis dolorem doloremque, dolores doloribus error, est incidunt nam officia quae quod. Beatae, eius incidunt laboriosam perferendis placeat sit!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, architecto beatae ducimus eligendi esse iste libero maiores, natus necessitatibus reprehenderit saepe sint sit vitae. In minus modi quaerat quo ratione.
                img(src="img/shop.png" alt="")

