section.inner
    .page-header.mb-20
        h2.h1 Как мы работаем с юридическими лицами
    .steps
        .steps__img
            img(src="img/steps-img.png" alt="")
        .step
            .step__num 1
            .step__main
                .h2 Заявка
                p.light Получаем запрос, уточняем задачи бизнеса и условия эксплуатации
        .step
            .step__num 2
            .step__main
                .h2 Подбор техники
                p.light Предлагаем модели, согласуем комплектацию и условия поставки
        .step
            .step__num 3
            .step__main
                .h2 Доставка и запуск
                p.light Привозим, собираем, проводим инструктаж персонала
        .step
            .step__num 4
            .step__main
                .h2 Поддержка
                p.light Регламентное ТО, ремонт, расширение парка, замена техники
        .step._contacts
            a.btn._big(href="")
                b Отправить заявку
            .step__social
                a(href="")
                    i.icon.icon-telegram
                a(href="")
                    i.icon.icon-whatsapp-fill
                a(href="")
                    i.icon.icon-call
                a(href="")
                    i.icon.icon-email2