aside.card-new__aside
    .card-new__block
        .grid.gap-10
            .card-new__row
                .card-new__article Артикул: #[span 898452954-963]
                .status._green В наличии
            div(data-replace-from="2")
                h1.h1 Электровелосипед Monster Kugoo Kirin V3 PRO PLUS 28.6 Ah
        .properties
            .property
                b 50 км/ч
                span Скорость
            .property
                b 90 км
                span Запас хода
            .property
                b 1500 W
                span Мощность
            .property
                b 20"
                span Диаметр
            .property
                b 46 кг
                span Вес
            .property
                a(href="") 4.8
                i.icon.icon-star
    .card-new__block
        .card-new__row
            a.link-icon(href="")
                i.icon.icon-shield-tick
                b Официальная гарантия
            .light.gray 1 год
    .card-new__block
        .h3 Дополнительные услуги
        .grid.gap-10
            label.checkbox._gray._start
                input.checkbox__input(type="checkbox")
                span.checkbox__mask
                span.checkbox__label Предпродажная подготовка
                span.checkbox__price 6 000 ₽
                a.link-info.popupActivation(href="" data-popup="param-info")
                    i.icon.icon-info-circle
            label.checkbox._gray._start
                input.checkbox__input(type="checkbox")
                span.checkbox__mask
                span.checkbox__label Гидроизоляция
                span.checkbox__price 12 000 ₽
                a.link-info(href="")
                    i.icon.icon-info-circle
            label.checkbox._gray._start
                input.checkbox__input(type="checkbox")
                span.checkbox__mask
                span.checkbox__label Предпродажная подготовка +&nbsp;гидроизоляция
                span.checkbox__price 15 000 ₽
                a.link-info(href="")
                    i.icon.icon-info-circle
    .card-new__block
        .card-new__row._price
            .price._big._row
                b 199 000 ₽
                s 255 000 ₽
            .flex.gap-10
                a.popupActivation(href="" data-popup="ya-plus")
                    img(src="img/ya-plus-price.svg" alt="")
                a(href="")
                    img(src="img/ya-split-price.svg" alt="")
        .card-new__row
            a.btn._full._big._gradient(href="") Купить сейчас
            a.btn._full._big._light(href="") В корзину
    .card-new__block
        .card-new__delivery
            p Доставка по городу #[b сегодня] #[span (при наличии товара в магазине)]
            ul.list
                li курьером #[span (стоимость уточняйте у менеджера)]
                li самовывоз #[span (ул.Белинского, д.152, к.1)]
        .social._auto._left._mini
            a(href="")
                img(src="img/tg.svg" alt="")
            a(href="")
                img(src="img/wa.svg" alt="")
                span *
            a(href="")
                img(src="img/max.svg" alt="")
    .card-new__block.notebook
        a.card-new__row.popupActivation(href="" data-popup="certificate")
            span.link-icon
                i.icon.icon-label
                b
                    span Официальный дилер
            span.light.gray KUGOO