aside.card-new__aside
    .card-new__block
        .grid.gap-10
            .card-new__row
                .card-new__article Артикул: #[span 898452954-963]
                .status._orange Уточнить наличие
            h1.h1 Электровелосипед Monster Kugoo Kirin V3 PRO PLUS 28.6 Ah
        .properties
            .property
                b 50 км/ч
                span Скорость
            .property
                b 90 км
                span Запас хода
            .property
                b 1500 W
                span Мощность
            .property
                b 20"
                span Диаметр
            .property
                b 46 кг
                span Вес
            .property
                a(href="") 4.8
                i.icon.icon-star
    .card-new__manager
        img(src="img/manager3.png" alt="")
        .grid.gap-10
            .h1 Наличие под вопросом
            .light Мы на связи с 10:00 до 20:00 ежедневно
        p
            b Проверим, есть ли товар в наличии, #[br]а если нет, подберем альтернативу
        .grid.gap-20
            a.btn._fill._big(href="") Запросить наличие
            .social._auto._left._medium
                a(href="")
                    img(src="img/tg.svg" alt="")
                a(href="")
                    img(src="img/wa.svg" alt="")
                    span *
                a(href="")
                    img(src="img/max.svg" alt="")
                a(href="")
                    img(src="img/mail.svg" alt="")
