.card-new__header
    .page-nav
        .page-nav__item
            a(href="") Главная
        .page-nav__item
            a(href="") Электротранспорт
        .page-nav__item
            a(href="") Электровелосипеды
        .page-nav__item
            a(href="") Электровелосипед Coswheel F1 10Ah
    a.link-icon.popupActivation.no-notebook(href="" data-popup="certificate")
        i.icon.icon-label
        span Официальный дилер KUGOO
