.popup(data-popup="certificate")
    .popup__scroll
        .popup__content._bg2.info-popup
            .info-popup__illustration
                a(href="img/doc.png" data-fancybox="certificate")
                    img(src="img/doc.png" alt="")
                .info-popup__main
                    .info-popup__header
                        i.icon.icon-label
                        .h2 Официальный дилер KUGOO
                        .popup__close
                            i.icon.icon-close
                    .text.fz-16
                        ul
                            li Только оригинальные товары
                            li Ассортимент в наличии и под заказ
                            li Гарантия от производителя

.popup(data-popup="ya-plus")
    .popup__scroll
        .popup__content._bg2.info-popup
            .info-popup__header
                .h2 Баллы плюса
                img(src="img/ya-plus-price.svg" alt="")
                .popup__close
                    i.icon.icon-close
            .text.fz-16
                p Кэшбэк баллами от Яндекс Пэй
                p Баллы начисляются при полной оплате заказа через Яндекс Пэй - сразу или после получения

.popup(data-popup="param-info")
    .popup__scroll
        .popup__content._bg2.info-popup
            .info-popup__header
                i.icon.icon-info-circle
                .h2 Встроенный микрофон
                .popup__close
                    i.icon.icon-close
            .text.fz-16
                p Благодаря встроенному микрофону в колонке пользователь может взаимодействовать с установленным в ней голосовым помощником.
                p Также аудиосистему с микрофоном можно использовать как устройство громкой связи при соединении со смартфоном.