extends ../layout/layout
block title
    | index
block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer="")
block content
    .card-page.bg.grid.gap-60
        section.card-new.inner
            include _header
            .card-new__body
                include _card
                div(data-replace-from="1")
                    include _aside
        include _products
        include _callback
        include _popups
block end

