section.inner.pt-40.pb-60
    .page-header.mb-20
        h2.h1 Блог
    include _filter
    .news-list
        .news
            a.link-full()
            img(src="img/shop1.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
        .news
            a.link-full()
            img(src="img/shop2.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
        .news
            a.link-full()
            img(src="img/shop3.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
        .news
            a.link-full()
            img(src="img/shop3.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
        .news
            a.link-full()
            img(src="img/shop3.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
        .news
            a.link-full()
            img(src="img/shop3.jpg" alt="")
            .news__main
                b Короткое содержательное название статьи
                .news__infos
                    .news__info
                        i.icon.icon-eye
                        span 86
                    .news__info
                        i.icon.icon-calendar2
                        span 25.06.2025
                .news__text
                    p Небольшой текст из статьи, краткое содержание, буквально на две-три строки. Небольшой текст из статьи, краткое содержание, буквально на две-три строки.
                a.link-arrow(href="")
                    span Читать полностью
                    i.icon.icon-long-arrow
    .catalog__nav.mt-30
        a.btn._mini(href="") Показать еще ...
        .pagination-alt
            a(href="")
                i.icon.icon-arrow._reverse
            a(href="")
                i.icon.icon-double-arrow._reverse
            a(href="") 1
            a._simple(href="") ...
            a(href="") 8
            a._active(href="") 9
            a(href="") 10
            a._simple(href="") ...
            a(href="") 89
            a(href="")
                i.icon.icon-arrow
            a(href="")
                i.icon.icon-double-arrow
        small Показано 36 из 268 статей
